/* @import "react-draft-wysiwyg/dist/react-draft-wysiwyg.css" .form {
  display: "flex";
  flex-wrap: "wrap";
  width: 100%;
} */
.fullWidth {
  width: 100%;
}
.formatWidth {
  width: 240px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.numberWidth {
  width: 180px;
}

.editorMain {
  height: 150px;
}
.paragraph {
  margin-top: 0;
}
